h1 {
  text-align: center;
}

.recordDiv {
  background-color: #826a7a;
  padding: 10px;
  margin: 10px;
  color: white;
}

body {
  background-color: #eee;
}

.remove {
  background-color: #6acbe8;
  margin-left: 25%;
  width: 50%;
  font-size: 1rem;
}

.update {
  background-color: #6acbe8;
  margin-left: 25%;
  width: 50%;
  margin-top: 5px;
  font-size: 1rem;
}

p {
  text-align: center;
}

img {
  border: 1px solid black;
}

#inputDiv {
  text-align: center;
}
